@import "variables";

.top-nav {
  position: relative;
  z-index: 100;
  margin-top: -#{$top-nav-height};
  width: 100%;
  height: #{$top-nav-height};
  background-color: #{$light};
  transition: margin #{$top-nav-transition-time} ease-in-out;

  &.is-expanded {
    margin-top: 0px;
  }

  .nav-center {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .nav-right {
    position: absolute;
    right: 0;
    top: 0;
  }
}
