@import "variables";

.top-nav {
  z-index: 9999;
  top: -#{$top-nav-height};
  width: 100%;
  height: #{$top-nav-height};
  background-color: #{$light};

  transition: #{$top-nav-transition-time} top ease-in-out;

  &.is-expanded {
    top: 0px;
  }
}
