@import "variables";

.top-nav {
  position: relative;
  z-index: 100;
  margin-top: -#{$top-nav-height};
  width: 100%;
  height: #{$top-nav-height};
  background-color: #{$light};
  transition: margin #{$top-nav-transition-time} ease-in-out;

  &.is-expanded {
    margin-top: 0px;
  }
}
