@import 'variables';

.add-widget-button {
  display: inline-block;
  background-color: #{$white};
  border: 1px solid #{$light-gray};
  color: #{$gray};
  font-size: 0.7em;
  line-height: 2em;
  padding: 5pt 15pt 0pt 5pt;
  cursor: pointer;

  &:hover {
    border: 1px solid #{$gray};
  }

  div {
    float: left;
    margin-top: 5pt;
    font-size: 3em;
  }
}
