@import "variables";

.container {
  padding: 10px;
  display: grid;
  grid-template-columns: auto auto auto;
  li {
    font-size: 30pt;
    cursor: pointer;
    color: #{$gray};

    &:hover,
    &.active {
      color: #{$white};
      background-color: #{$dark};
    }
  }
}
