@import "variables";

.font-type-panel {
  padding: 10px;

  li {
    cursor: pointer;
    padding: 10px;
    color: #{$gray};
    font-size: 15pt;

    &:hover,
    &.active {
      color: #{$white};
      background-color: #{$dark};
    }
  }
}

.font-style-panel {
  padding: 10px;
  display: grid;
  grid-template-columns: auto auto auto;
  li {
    font-size: 30pt;
    cursor: pointer;
    color: #{$gray};

    &:hover,
    &.active {
      color: #{$white};
      background-color: #{$dark};
    }
  }
}

.font-align-panel {
  padding: 10px;
  display: grid;
  grid-template-columns: auto auto auto;
  li {
    font-size: 30pt;
    cursor: pointer;
    color: #{$gray};

    &:hover,
    &.active {
      color: #{$white};
      background-color: #{$dark};
    }
  }
}
