@import 'variables';

.viewport {
  position: absolute;
  flex-grow: 1;
  width: calc(100% - 2px);
  height: 100%;
  overflow: auto;
  .wrapper {
    position: relative;
    margin: -1px auto;
    border: 1px solid #{$light-gray};
    min-height: 100%;
    &.mobile {
      :global {
        .row {
          margin: 0px auto;
          max-width: 414px;
          flex-wrap: wrap;
        }
      }
    }
    &.tablet {
      :global {
        .row {
          margin: 0px auto;
          max-width: 992px;
        }
      }
    }
  }
}
