@import 'variables';

.toogler {
  position: absolute;
  left: 50%;
  top: 60px;
  transform: translateX(-50%);
  padding: 8pt;
  border: none;
  background-color: transparent;
  cursor: pointer;
  div {
    width: 25pt;
    height: 2pt;
    background-color: #{$light-gray};
    border-radius: 2.5pt;
  }

  &:focus {
    outline: none;
  }
  &:hover {
    div {
      background-color: #{$gray};
    }
  }
}
