:global(.row) {
  margin: 0px 20px;
}
:global(.section) {
  padding: 23px;
}
:global(.image-block) {
  img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}

:global(.hover-fade) {
  transition: all ease-in;

  &:hover {
    opacity: 0;
  }
}
