@import "variables";

.container {
  padding: 20px;

  button {
    width: 100%;
    color: #{$white};
    padding: 15px 20px;
    background-color: #{$dark};
    border: 1px solid #{$gray};

    &:hover {
      border: 1px solid #{$white};
    }
  }
}
