$white: #fafafa;
$light: #f2f2f2;
$light-gray: #dddddd;
$gray: #4c4c4c;
$highlight: #3dcfe7;

$top-nav-height: 60px;
$top-nav-transition-time: 0.3s;

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
