@import "variables";

.viewport {
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  &.mobile {
    max-width: 414px;
  }
  &.tablet {
    max-width: 992px;
  }
}
