@import "variables";

.viewport {
  flex-grow: 1;
  position: relative;
  width: calc(100% - 2px);
  height: 100%;
  overflow: hidden;
  .wrapper {
    position: relative;
    margin: -1px auto;
    border: 1px solid #{$light-gray};
    &.mobile {
      max-width: 414px;
    }
    &.tablet {
      max-width: 992px;
    }
  }
}
