@import "variables";

.viewport {
  flex-grow: 1;
  margin: 0 auto;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  &.mobile {
    max-width: 414px;
  }
  &.tablet {
    max-width: 992px;
  }
}
