@import "variables";

.config-panel-root {
  z-index: 300;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;

  &.right {
    left: auto;
    right: 12px;
    .tab-panel .tab-body {
      left: auto;
      right: 35px;
    }
  }
}
.tab-panel {
  .tab-header {
    li {
      font-size: 20pt;
      height: 35px;
      width: 35px;
      background-color: #{$light-gray};

      &:hover {
        background-color: #{$gray};
        color: #{$white};
      }
    }
  }
  &:hover {
    .tab-body {
      visibility: visible;
    }
  }
  .tab-body {
    visibility: hidden;
    position: absolute;
    left: 35px;
    top: 0;
    background-color: #{$dark};
    max-height: 500px;
    min-height: 150px;
    width: 300px;
    text-align: center;
    transition: height 0.5s ease;

    h2 {
      padding: 13px;
      color: #{$white};
      font-size: 10pt;
      font-weight: bold;
    }
    hr {
      margin: 5px 20px;
      border-top: 1px solid #{$light-gray};
    }
  }
}
